@import 'tailwindcss';
@plugin 'tailwindcss-animated';

@font-face {
  font-family: 'BluuNext';
  src: url('@/assets/fonts/BluuNext-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'BagnardSans';
  src: url('@/assets/fonts/BagnardSans-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'YoungSerif';
  src: url('@/assets/fonts/YoungSerif-Regular.otf') format('opentype');
}
